header {
	@include clearfix;
	@extend %presuf;
	border-bottom: 4px solid $header-bg;
	&:before {
		@extend %dbl-border;
		border-bottom: 2px solid white;
		right: 2px;
		bottom: 2px;
	}
	h1 {
		margin: 0.25em 0;
		@include breakpoint($narrow) {
			float: left;
			font-size: 2.2rem;
		}
		@include breakpoint($normal) {
			font-size: 2.2rem;
		}
	}
	.fa-drupal {
		display: none;
		@include breakpoint($narrow) {
			display: inline-block;
			float: right;
			margin: 0.5em 0;
		}
	}
	@include presuf-link;
}