.home {
	.intro {
		@include clearfix;
		text-align: center;
		@include breakpoint($narrow) {
			margin: auto;
			width: 60%;
			padding: 1em 0;
		}
		@include breakpoint($normal) {
			width: auto;
		}
		img {
			width: 200px;
			height: auto;
			padding-bottom: 1em;
			border-bottom: 0.5em solid #eee;
			@include breakpoint($narrow) {
				float: left;
				border-bottom: 0;
				border-right: 0.5em solid #eee;
				padding-bottom: 0;
				padding-right: 1em;
				margin-right: 1em;
			}
			@include breakpoint($normal) {
				padding-right: 1.5em;
				margin-right: 1.5em;
			}
		}
		h2 {
			margin-top: 0.25em;
			@include breakpoint($narrow) {
				text-align: justify;
				margin-top: 1.125em;
			}
		}
	}
	h2.page-title {
		margin-bottom: 0;
	}
}

ul.posts {
	@include no-bullets;
	@include reset-box-model;
	font-size: 1.25em;
	span:before {
		content: "|";
		color: #aaa;
		padding: 0 0.25rem;
	}
	li {
		border-bottom: 1px solid #ddd;
		padding: 1em;
		margin-left: -1em;
		margin-right: -1em;
	}
}