.home {
	.intro {
		@include clearfix;
		text-align: center;
		img {
			width: 200px;
			height: auto;
			padding-bottom: 1em;
			border-bottom: 0.5em solid #eee;
			@include breakpoint($narrow) {
				float: left;
				border-bottom: 0;
				border-right: 0.5em solid #eee;
				padding-bottom: 0;
				padding-right: 1em;
				margin-right: 1em;
			}
		}
		h2 {
			margin-top: 0.25em;
			@include breakpoint($narrow) {
				float: left;
			}
		}
	}
}

ul.posts {
	@include no-bullets;
	@include reset-box-model;
	span:before {
		content: "|";
		color: #aaa;
		padding: 0 0.25rem;
	}
}