@mixin sticky_footer($height:125px){
  html, body{
  height:100%;
  }
  .main {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -($height);
  }
  .main:after {
    content: "";
    display: block;
  }
  footer, .main:after {
    /* .push must be the same height as footer */
    height: $height;
  }
}

@mixin presuf-link {
  a, a:active, a:visited {
    color: white;
    @extend %presuf-link;
  }
  a:hover {
    color: darken(white, 6%);
    @extend %presuf-link;
  }
}