/*
 * Style Guide - Defines common HTML elements
 */

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 100%;
	line-height: 1.25em;
	@include breakpoint($normal) {
		line-height: 1.375em;
	}
}

a, a:active, a:visited {
	color: $link-active;
	@include underline(white, $link-active);
}

a:hover {
	color: $link-hover;
	@include underline(white, $link-hover);
}

h1 {
	font-size: 2em;
	line-height: 1.25em;
	@include breakpoint($narrow) {
		font-size: 2.5em;
		line-height: 1.125em;
	}
	@include breakpoint($normal) {
		font-size: 3em;
		line-height: 1.05em;
	}
}

h2 {
	font-size: 1.625em;
	line-height: 1.15384615em;
	@include breakpoint($narrow) {
		font-size: 2em;
		line-height: 1.25em;
	}
	@include breakpoint($normal) {
		font-size: 2.25em;
		line-height: 1.25em;
	}
}

h3 {
	font-size: 1.375em;
	line-height: 1.13636364em;
	@include breakpoint($narrow) {
		font-size: 1.5em;
		line-height: 1.25em;
	}
	@include breakpoint($normal) {
		font-size: 1.75em;
		line-height: 1.25em;
	}
}

h4 {
	font-size: 1.125em;
	line-height: 1.11111111em;
	@include breakpoint($narrow) {
		line-height: 1.22222222em;
	}
}

p {
	margin: 0.5em 0;
}

blockquote {
	margin-left: 0.5em;
	border-left: 5px solid $green;
	padding-left: 1em;
}

hr {
	border: 1px solid lighten(black, 70%);
}

ul, ol, dl {
	padding: 0 0 0 20px;
}

table {
	table-layout: fixed;
}

tr {
	border-bottom: 1px solid lighten(black, 80%);
}

fieldset {
	border: 0;
	background: darken(white, 3%);
	padding-top: 3em;
}

legend {
	font-size: 2em;
	position: relative;
	top: 1em;
}

input:not([type=radio]), textarea {
	border: 1px solid lighten(black, 70%);
	border-radius: 3px;
	padding: 3px;
	&:focus {
		border: 1px solid $green;
	}
}