// Breakpoints
$breakpoint-to-ems: true;
$narrow: 700px;
$normal: 900px;
$wide: 1500px;

// Base Colors
$blue: #1387bf;
$green: #13bf87;
$white: #ffffff;

// Component Colors
$header-bg: $blue;
$header-txt: $white;
$link-active: $blue;
$link-hover: $green;
$page-title-line: tint($blue, 30%);