<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div class="main">
  <header>
    <h1>Tanner J. Ferguson</h1>
    <div class="circle"></div>
  </header>
  <section class="content">
    {{ content }}
  </section>
</div>
  <footer>
    <span class="copyright">&copy;{{ site.time | date: "%Y" }} Tanner J. Ferguson - </span>
    <span class="contact"><a href="mailto:tannerjfco@gmail.com">email</a></span>
  </footer>
</body>
</html>